* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

header {
  display: flex;
}

.header-text {
  display: flex;
  flex-direction: column;
}

.header-logo {
  filter: invert(1);
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

.header-subtitle {
  font-size: 2rem;
}
