* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.8rem;
}

.main-header {
  padding: 1rem 10rem;
  background-color: red;
}

.main-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-navigation a:link,
.main-navigation a:visited {
  color: #444;
  text-decoration: none;
}

.navigation-right {
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 2.4rem;
}

.logo {
  width: 10%;
  padding: 1rem;
}

.main-navigation-list {
  display: flex;
  column-gap: 3.4rem;
  list-style: none;
}

.main-navigation-list ion-icon[name="earth-outline"] {
  width: 2.4rem;
  height: 2.4rem;
}

/* ****************************************************** */
/* 
---- 01 TYPOGRAPHY SYSTEM

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


Font weight:
default: 400

Line height:
default: 1

----02 colors:
    primary: #e67e22
    tints:
    shades:
    accents:
    greys: #555

----- 03 shadows

----- 04 border-radius

-----05 whitespace
 SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*********************************************************************
*/
