.hero-background {
  height: 100vh;
  background-color: #6479f5;
  background-image: radial-gradient(
      closest-side,
      #c564f5,
      rgba(197, 100, 245, 0)
    ),
    radial-gradient(closest-side, #75baf4, rgba(117, 186, 244, 0)),
    radial-gradient(closest-side, #75baf4, rgba(117, 186, 244, 0)),
    radial-gradient(closest-side, #8663f5, rgba(134, 99, 245, 0)),
    radial-gradient(closest-side, #8663f5, rgba(134, 99, 245, 0));
  background-size: 130vmax 130vmax, 80vmax 80vmax, 90vmax 90vmax,
    110vmax 110vmax, 90vmax 90vmax;
  background-position: -80vmax -80vmax, 60vmax -30vmax, 10vmax 10vmax,
    -30vmax -10vmax, 50vmax 50vmax;
  background-repeat: no-repeat;
}

.main-header {
  padding: 1rem 0;
  padding-bottom: 9.6rem;
}

.main-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-navigation a:link,
.main-navigation a:visited {
  text-decoration: none;
  color: #fffffb;
  font-weight: 500;
}

.navigation-right {
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 4.8rem;
}

.logo {
  width: 4.8rem;
  height: 4.8rem;
  color: #fffffb;
}

.main-navigation-list {
  display: flex;
  column-gap: 3.4rem;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.main-navigation-list ion-icon[name="earth"] {
  width: 3.4rem;
  height: 3.4rem;
}

/* --------------------------------------------------------------------- */
/* ------------HERO SECTION--------------------------------------------- */
/* --------------------------------------------------------------------- */
.hero-section {
  padding-bottom: 9.6rem;
}

.hero-content {
  color: #fffffb;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-subtitle {
  text-align: center;
  margin-bottom: 2.4rem;
  width: 80%;
  font-size: 1.6rem;
  line-height: 1.5;
}

.hero-button {
  font-size: 2.4rem;
}
